.footer-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0.25rem;
  margin: 0.5rem 0 0 0;
  background-color: var(--bar-shade);
  border-top: 0.15rem solid yellow;
}

.dek-tab-list {
  display: flex;
  flex-direction: row;
  height: 5vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}