.control-panel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 0.25rem;
  gap: 0.15rem;
  background-color: var(--bar-solid);
  border-top: 0.15rem solid darkgray;
  border-left: 0.15rem solid darkgray;
  border-right: 0.25rem solid gray;
  border-bottom: 0.25rem solid #575757;
  box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}

.button-pair {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: space-between;
}

.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--text-invert);
  border-radius: 3%;
  cursor: pointer;
}