.dek-file-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.primary-image {
  flex-direction: column;
  display: flex;
  width: 24vh;
  justify-content: center;
}

/* .banner {
  height: 6vh;
  position: absolute;
  width: -webkit-fill-available;
  background: coral;
  z-index: -1;
  padding: 1rem;
} */
