.sidebar-selector-container {
  display: flex;
  flex-direction: column;
  height: 84vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  padding: 1rem 0;
  background-color: var(--bar-solid);
  border-top: 0.15rem solid darkgray;
  border-left: 0.15rem solid darkgray;
  border-right: 0.25rem solid gray;
  border-bottom: 0.25rem solid #575757;
  box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}

.sidebar-title {
  display: flex;
  justify-content: center;
  color: var(--text-dark);
}

.selector-list {
  height: 100%;
  padding: 1.25rem 0.15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.selector-list::-webkit-scrollbar {
  display: none;
}

.dek-file-list {
  display: flex;
  flex-direction: column;
  gap: 0.063rem; /* 1px */
}

.file-preview {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.file-name {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}