.footer-container {
  display: flex;
  flex-direction: column;
  height: 5.5vh;
  justify-content: center;
  padding: 0.25rem;
  margin: 0.5rem 0 0 0;
  background-color: var(--bar-shade);
  border-top: 0.25rem solid var(--text-dark);
  z-index: 10;
}

.dek-tab-list {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
  gap: 0.25rem;
}

.dek-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.25rem;
}

.add-dek {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.15rem;
  width: fit-content;
  background: 0;
}